.quote-hero__pattern {
   position: absolute;
   z-index: 0;
}

.quote-hero__pattern--l {
   left: -100px;
   width: 18.5rem;
   
   @media screen and (min-width: 48rem) {
      left: 0;
      top: 0
   }
}

.quote-hero__pattern--r {
   right: -130px;
   width: 17.625rem;
   
   @media screen and (min-width: 48rem) {
      bottom: 0;
      right: 0;
   }
}