<div class="container--site page--index at-top--true scroll-direction--up" id="nav">
	
	
	<header class="m-main-menu">
		<div class="font-primary max-w-xl mx-auto px-8   container container--md main-menu__inner   {% if page.layout == 'home' %}md:h-65{% endif %}">
			<a class="a-main-menu__logo nuxt-link-exact-active nuxt-link-active" href="/">
				<span class="svg-icon brand-icon a-main-menu__logo__icon">
					<svg viewBox="0 0 92 32" height="32px" version="1.1" width="92px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Symbols" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
							<path d="M16,20 C13.79075,20 12,18.20925 12,16 C12,13.791 13.79075,12 16,12 C18.20925,12 20,13.791 20,16 C20,18.20925 18.20925,20 16,20" id="Fill-1" fill="#092273"></path>
							<path d="M32,27 L6,27 C5.44775,27 5,26.55225 5,26 L5,8 L0,8 L0,27 C0,29.7615 2.2385,32 5,32 L27,32 C29.7615,32 32,29.7615 32,27" id="Fill-3" fill="#092273"></path>
							<path d="M27,24 L32,24 L32,5 C32,2.2385 29.7615,0 27,0 L5,0 C2.2385,0 0,2.2385 0,5 L26,5 C26.55225,5 27,5.44775 27,6 L27,24 Z" id="Fill-4" fill="#302EB7"></path>
							<polygon points="43.5120859 22.108019 43.5120859 5.6 39.2 5.6 39.2 22.108019 39.2 26.4 43.5120859 26.4 52.8 26.4 52.8 22.108019" id="Fill-5" fill="#3529BE"></polygon>
							<polygon points="68.3120859 22.108019 68.3120859 5.6 64 5.6 64 22.108019 64 26.4 68.3120859 26.4 77.6 26.4 77.6 22.108019" id="Fill-6" fill="#3529BE"></polygon>
							<polygon points="84.9745135 5.6 80.6254865 5.6 73.6 5.6 73.6 9.89198095 80.6254865 9.89198095 80.6254865 26.4 84.9745135 26.4 84.9745135 9.89198095 92 9.89198095 92 5.6" id="Fill-7" fill="#3529BE"></polygon>
							<polygon points="60 22.108019 60 5.6 56 5.6 56 22.108019 56 26.4 60 26.4" id="Fill-8" fill="#3529BE"></polygon>
						</g>
					</svg>
				</span>
			</a>
			
			<div class="btn--hamburger" {% if page.layout == 'home' %}style="display:none"{% endif %}>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<ul class="m-main-menu__list m-main-menu__list--lg" {% if page.layout == 'home' %}style="display:none"{% endif %}>
				<li class="m-main-menu__list__nav-item relative">
					<a class="a-menu-link a-menu-link--text" href="/solutions">
						<span class="btn--icon-wrap">
							<div class="btn-icon__text">
								Solution
							</div>
							<span class="btn--icon__icon svg-icon svg-icon--chevron">
								<svg viewBox="0 0 12 9">
									<g id="Atoms/Buttons/dropdown-small" transform="translate(-105.000000, -13.000000)" fill="#343D59" fill-rule="nonzero">
										<g id="Core/icons/chevron-right" transform="translate(111.000000, 17.500000) rotate(90.000000) translate(-111.000000, -17.500000) translate(108.500000, 13.500000)">
											<polygon points="3.13007592 4 -1.41004798 0.108465229 -0.108465229 -1.41004798 6.20325741 4 -0.108465229 9.41004798 -1.41004798 7.89153477" fill="currentColor"></polygon>
										</g>
									</g>
								</svg>
							</span>
						</span>
					</a>
					
					<nav class="m-main-menu__subnav">
						<div class="m-main-menu__subnav__inner--bg">
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/solutions">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Overview
									</div>
								</span>
							</a>
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/security">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Security
									</div>
								</span>
							</a>
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/integrations">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Integrations
									</div>
								</span>
							</a>
						</div>
					</nav>
				</li>
				<li class="m-main-menu__list__nav-item relative">
					<a class="a-menu-link a-menu-link--text" href="/resources">
						<span class="btn--icon-wrap">
							<div class="btn-icon__text">
								Resources
							</div>
						</span>
					</a>
				</li>
				<li class="m-main-menu__list__nav-item relative">
					<a class="a-menu-link a-menu-link--text" href="/about">
						<span class="btn--icon-wrap">
							<div class="btn-icon__text">
								About
							</div>
							<span class="btn--icon__icon svg-icon svg-icon--chevron">
								<svg viewBox="0 0 12 9">
									<g id="Atoms/Buttons/dropdown-small" transform="translate(-105.000000, -13.000000)" fill="#343D59" fill-rule="nonzero">
										<g id="Core/icons/chevron-right" transform="translate(111.000000, 17.500000) rotate(90.000000) translate(-111.000000, -17.500000) translate(108.500000, 13.500000)">
											<polygon points="3.13007592 4 -1.41004798 0.108465229 -0.108465229 -1.41004798 6.20325741 4 -0.108465229 9.41004798 -1.41004798 7.89153477" fill="currentColor"></polygon>
										</g>
									</g>
								</svg>
							</span>
						</span>
					</a>
					<nav class="m-main-menu__subnav">
						<div class="m-main-menu__subnav__inner--bg">
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/about">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Who We Are
									</div>
								</span>
							</a>
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/careers">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Careers
									</div>
								</span>
							</a>
							<a class="m-main-menu__subnav__item a-menu-link a-menu-link--text" href="/academic">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Academic
									</div>
								</span>
							</a>
						</div>
					</nav>
				</li>
				<li class="m-main-menu__list__nav-item relative">
					<a class="a-menu-link a-menu-link--text" href="/translators">
						<span class="btn--icon-wrap">
							<div class="btn-icon__text">
								Become a Translator
							</div>
						</span>
					</a>
				</li>
				<li>
					<button class="a-menu-link a-menu-link--btn btn btn--primary btn--primary--tiny" id="show-modal">Get a Demo</button>
				</li>
				<li>
					<a class="a-menu-link a-menu-link--text a-menu-link--text--inverse" href="/app">Sign In</a>
				</li>
			</ul>
	</header>
	
	
	
	
	<!--   Small Menu   -->
	<div class="main-menu--sm   font-primary">
		<div class="btn--hamburger btn--hamburger--sm">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="m-main-menu__list--sm">
			
			<li class="m-main-menu--sm__list__nav-item relative">
				<div class="m-main-menu__list--sm__nav-item">
					<div class="a-menu-link a-menu-link--text">
						Solution
						<span class="btn--icon__icon svg-icon svg-icon--chevron">
							<svg viewBox="0 0 12 9"><g id="Atoms/Buttons/dropdown-small" transform="translate(-105.000000, -13.000000)" fill="#343D59" fill-rule="nonzero"><g id="Core/icons/chevron-right" transform="translate(111.000000, 17.500000) rotate(90.000000) translate(-111.000000, -17.500000) translate(108.500000, 13.500000)"><polygon points="3.13007592 4 -1.41004798 0.108465229 -0.108465229 -1.41004798 6.20325741 4 -0.108465229 9.41004798 -1.41004798 7.89153477" fill="currentColor"></polygon></g></g></svg>
						</span>
					</div>
					<nav class="m-main-menu__subnav-static">
						<div class="m-main-menu__subnav__inner">
							<a href="/solutions" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Overview
									</div>
								</span>
							</a>
							<a href="/security" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Security
									</div>
								</span>
							</a>
							<a href="/integrations" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
								<span class="btn--icon-wrap">
									<div class="btn-icon__text">
										Integrations
									</div>
								</span>
							</a>
						</div>
					</nav>
				</div>
			</li>
			<li class="m-main-menu--sm__list__nav-item relative">
				<a href="/resources" class="a-menu-link a-menu-link--text">
					<span class="btn--icon-wrap">
						<div class="btn-icon__text">
							Resources
						</div>
					</span>
				</a>
			</li>
			<li class="m-main-menu--sm__list__nav-item relative">
				<div class="m-main-menu__list--sm__nav-item">
					<div class="a-menu-link a-menu-link--text">About
					<span class="btn--icon__icon svg-icon svg-icon--chevron">
						<svg viewBox="0 0 12 9"><g id="Atoms/Buttons/dropdown-small" transform="translate(-105.000000, -13.000000)" fill="#343D59" fill-rule="nonzero"><g id="Core/icons/chevron-right" transform="translate(111.000000, 17.500000) rotate(90.000000) translate(-111.000000, -17.500000) translate(108.500000, 13.500000)"><polygon points="3.13007592 4 -1.41004798 0.108465229 -0.108465229 -1.41004798 6.20325741 4 -0.108465229 9.41004798 -1.41004798 7.89153477" fill="currentColor"></polygon></g></g></svg>
					</span>
				</div>
				<nav class="m-main-menu__subnav-static">
					<div class="m-main-menu__subnav__inner">
						<a href="/about" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
							<span class="btn--icon-wrap">
								<div class="btn-icon__text">
									Who We Are
								</div>
							</span>
						</a>
						<a href="/careers" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
							<span class="btn--icon-wrap">
								<div class="btn-icon__text">
									Careers
								</div>
							</span>
						</a>
						<a href="/academic" class="m-main-menu__subnav__item a-menu-link a-menu-link--text">
							<span class="btn--icon-wrap">
								<div class="btn-icon__text">
									Academic
								</div>
							</span>
						</a>
					</div>
				</nav>
			</div>
		</li>
		
		<li class="m-main-menu--sm__list__nav-item relative">
			<a href="/translators" class="a-menu-link a-menu-link--text">
				<span class="btn--icon-wrap">
					<div class="btn-icon__text">
						Become a Translator
					</div>
				</span>
			</a>
		</li>
		<li>
			<button id="show-modal" class="a-menu-link a-menu-link--btn btn btn--primary">Request a Demo</button>
		</li>
		<li>
			<a href="/app" class="a-menu-link a-menu-link--text a-menu-link--text--inverse">Sign In</a>
		</li>
	</ul>
</div>

		
	
</div>


<style>
	
</style>