<section class="section   mx-auto py-12   md:py-22">
   <figure class="mb-14">
      <div class="img is2by1   md:is5by2">
         <img src="assets/img/content_placeholder.jpg">
      </div>
      <figcaption class="caption">An image with a caption to explain said image.</figcaption>
   </figure>
   
   <div class="max-w-md mx-auto nested-mb-6 text-gamma text-purple-4">
      <p>Body copy in an email. The last six months have been a pretty busy time in the Conversational UX (CUX) scene in Germany and the UK. I’ve taken part in lots of exciting courses and events related to conversational interfaces and have had the chance to speak with dozens of colleagues from across the world about recent developments in the field.</p>
      
      <p>Here’s what bulleted content looks like:</p>
      <ul class="list--bullets   list-reset font-medium font-primary -mt-6">
         <li>Unorderered list item one</li>
         <li>Unorderered list item two</li>
         <li>Unorderered list item three</li>
         <li>Unorderered list item four</li>
      </ul>
      
      <p>As a CUX researcher myself, I usually teach and speak about the application of linguistics in the design of conversational interfaces, focusing on my areas of specialization in Conversation Analysis (CA), Pragmatics, and Ethnography of Communication (in another post, I’ve talked about the huge value CA brings to the table as a source of knowledge about natural conversation). But what makes these events really come alive for me is the ongoing direct interaction with the public and other researchers interested in CUX.</p>
   </div>
   
   <!--
   <div class="btn--icon --purple   flex justify-center mb-12">
      <a href="">
         Subtle Call to Action
         <span class="btn--icon__icon svg-icon svg-icon--chevron">
            <svg fill="#343d59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 12">
               <polygon class="cls-1" points="4.63 6 0.09 2.11 1.39 0.59 7.7 6 1.39 11.41 0.09 9.89 4.63 6"/>
            </svg>
         </span>
      </a>
   </div>
   
   <div class="btn btn--primary   text-center">
      <a href="">Medium Call to Action</a>
   </div>
   -->
</section>