<section class="blog__post--article   section   mx-auto pt-12 relative">
   
   
   <ul class="blog__post--share   absolute pin-l pin-t   lg:border lg:border-grey-1 lg:rounded lg:shadow">
      <li>
         <a class="svg-icon social-icon" href="https://twitter.com/lilthq" target="_blank">
            <svg viewBox="0 0 24 24">
               <path d="M24,4.55671c-0.88301,0.39161-1.83194,0.65634-2.82804,0.77533
c1.01666-0.60936,1.7974-1.57433,2.16501-2.72414c-0.95134,0.56428-2.00512,0.97406-3.12672,1.1949
c-0.89818-0.957-2.17787-1.55496-3.59403-1.55496c-2.71943,0-4.92403,2.20462-4.92403,4.92378
c0,0.38595,0.04355,0.7617,0.12748,1.12211C7.72747,8.0884,4.09932,6.12812,1.67078,3.14911
C1.24693,3.87636,1.00415,4.72216,1.00415,5.62454c0,1.70824,0.86929,3.21537,2.19047,4.09838
C2.38748,9.69738,1.62825,9.47585,0.96437,9.10704c-0.00034,0.02058-0.00042,0.04115-0.00042,0.0619
c0,2.38572,1.69726,4.37584,3.9498,4.82815c-0.41321,0.11247-0.8482,0.17266-1.29725,0.17266
c-0.31729,0-0.62574-0.03087-0.9264-0.0883c0.6266,1.95617,2.445,3.37979,4.59964,3.41957
c-1.68518,1.32058-3.80827,2.10774-6.11516,2.10774c-0.39745,0-0.7894-0.02332-1.17458-0.06875
c2.17907,1.39704,4.76724,2.21216,7.54787,2.21216c9.05687,0,14.00945-7.50286,14.00945-14.00958
c0-0.21347-0.00479-0.42582-0.01423-0.63697C22.50505,6.41137,23.33989,5.54413,24,4.55671z" fill="currentColor"></path>
            </svg>
         </a>
      </li>
      <li>
         <a class="svg-icon social-icon" href="https://www.linkedin.com/company/lilt-inc-/" target="_blank">
            <svg viewBox="0 0 24 24">
               <rect height="16.1" width="5" x="0.4" y="7.9" fill="currentColor"></rect>
               <ellipse cx="2.8" cy="2.8" rx="2.8" ry="2.8" fill="currentColor"></ellipse>
               <path d="M23.9,24h-5v-7.8c0-1.8,0-4.3-2.5-4.3c-2.6,0-2.9,2-2.9,4.2V24H8.4V7.9h4.8v2.2h0.1C14,8.8,15.6,7.5,18,7.5
c5.1,0,6,3.4,6,7.6V24H23.9z" fill="currentColor"></path>
            </svg>
         </a>
      </li>
      <li>
         <a class="svg-icon social-icon" href="https://www.facebook.com/liltinc" target="_blank">
            <svg viewBox="0 0 24 24">
               <path d="M9.03153,23L9,13H5V9h4V6.5C9,2.7886,11.29832,1,14.60914,1c1.58592,0,2.94893,0.11807,3.34615,0.17085
v3.87863l-2.29623,0.00104c-1.80061,0-2.14925,0.85562-2.14925,2.11119V9H18.75l-2,4h-3.24019v10H9.03153z" fill="currentColor"></path>
            </svg>
         </a>
      </li>
   </ul>
   
   
   <div class="max-w-md mt-4 mx-auto text-gamma text-purple-4   lg:mt-0">
      <p>Going global means localizing key pieces of your company’s content to be understood, relevant, and well-received by international customers. The content you localize can range from marketing collateral, to support pages, all the way down to in-app chat bots! The list goes on, really.</p>
      
      <p>To guarantee that the translators you’re working with will do the best job possible, they’ll need a few things from you besides the content that you want them to localize – this includes your localization style guide.</p>
      
      <h1>“What is a localization style guide?”</h1>
      <p>Consider your localization style guide as a playbook which outlines specific guidelines, stylistic rules and instructions you want to be followed in the creation and translation of your content. By relaying this playbook to your translation partners, you’re enabling them to share your global brand voice with different locales.</p>
      <p>The typical style guide is about twenty or so pages with a bunch of great pointers, but we’ve found that most style guides don’t quite answer all the questions that translators need answering. Here are 5 things that each localization style guide should have.</p>
      
      <h2>General Background</h2>
      <p>Your general background should give a brief overview of your company, products, and what you do. When you create a style guide, the general background allows your translator partners to develop a better understanding for what they’re localizing and who they’re localizing it for. For example, when talking about Lilt, we describe our brand personality as optimistic, thoughtful and accessible – and we make sure that all of our content resonates with these attributes. </p>
      
      
      <blockquote>
         We also mention the types of people that our content will be consumed by, so that we can slightly adjust our tone if necessary. Other things to include in this section are a description of the kind of content you need localized, the language sets which need to be implemented and the file formats your content is in.
      </blockquote>
      
      <h3>Glossary</h3>
      <p>Including a resource for on-brand terminology like catchphrases, slogans and language will ensure that your content is consistent throughout different markets. For example, if you have a catchphrase that needs to be localized in every market, you should mention in your glossary that the translation of that phrase should be uniform across all of your collateral for that market.</p>
      
      <h4>American Translation Association</h4>
      <p>Including a resource for on-brand terminology like catchphrases, slogans and language will ensure that your content is consistent throughout different markets. For example, if you have a catchphrase that needs to be localized in every market, you should mention in your glossary that the translation of that phrase should be uniform across all of your collateral for that market.</p>
      
      <figure class="my-14 full-width">
         <div class="img is2by1  md:is5by2">
            <img src="assets/img/blog_placeholder.jpg">
         </div>
         <figcaption class="caption">An image with a caption if you need it.</figcaption>
      </figure>
      
      <h5>Adaptation</h5>
      <p>Adapting your content to local linguistic, contextual and cultural standards is in essence, localization in a nutshell. If you have a list of rules you’d like to have followed you should state them with examples in this section. For instance, in the US we tell time by writing out, “12:30PM”, but in France they tell time using a 24-hour clock. To make things easier for everyone, you can specify that all of your content should feature military time and be formatted as, “12 h 30” to avoid any sort of confusion.</p>
      
      <p>Here’s a list of a few other things you should localize per market:</p>
      
      <ul>
         <li>Currency</li>
         <li>Addresses</li>
         <li>Phone Numbers</li>
         <li>Names</li>
         <li>URLs</li>
         <li>Email Addresses</li>
         <li>Locations</li>
         <li>Dates</li>
         <li>Holidays</li>
         <li>Capitalization</li>
      </ul>
      
      <h6>Style</h6>
      <p>Your editorial style is the framework through which your brand voice, tone and personality come to life. In this portion of your localization style guide, be sure to include parameters for grammar, syntax, punctuation, and formality. Remember, these can differ between types of content, just be sure to note which editorial styles should be paired with which types of content. For example, if you’re having customer forum threads translated, you’ll probably want your translators to use an informal tone, but when localizing a case study you might prefer them to take on a more formal tone.</p>
      
      <h1>Special Style</h1>
      <p>Lastly, any special rules you might have can go in this section. Depending on your industry or vertical these can range from formatting preferences, design copy parameters, titles, and so on. If this isn’t your first time sending over your localization style guide to translation partners, you could also consider adding a list of common FAQs you get with your answers in this section.</p>      
   </div>
</section>