<style>
   .bg-purple-gradient-1 {
    -webkit-animation: bgGradAnimation 16s ease infinite;
    animation: bgGradAnimation 16s ease infinite;
    background: linear-gradient(132deg,#4230c1,#0a1d58,#4133bb);
    background-size: 400% 400%;
    
}

.svg-icon svg { wfidth: 100%}
</style>

<div class="billboard bg-purple-gradient-1 billboard--confetti">
   <div class="billboard__inner ">
      <span class="billboard__pattern billboard__pattern--l svg-icon">
         <svg></svg>
      </span>
      <div class="billboard__content   px-8">
         <div class="billboard__content__header">
            <h2 class="billboard__header header-hecto reveal">{{ include.heading }}</h2>
            <p class="billboard__description leading-normal text-delta reveal">{{ include.copy }}</p>
         </div>
         
         
         
         <div class="billboard__action reveal">
            <div class="btn btn--primary text-center">
               <a href="">{{ include.button }}</a>
            </div>
         </div>
      </div>
      
      <span class="billboard__pattern billboard__pattern--r svg-icon">
         <svg viewBox="0 0 1440 580">
            <style type="text/css">
               .p1--st0{fill:url(#SVGID_1_);}
               .p1--st1{fill:#4230C1;}
               .p1--st2{fill:#2D229F;}
               .p1--st3{opacity:0.3;}
               .p1--st4{fill:url(#SVGID_2_);}
               .p1--st5{fill:#61DB9B;}
               .p1--st6{display:none;fill:#61DB9B;}
               .p1--st7{fill:url(#SVGID_3_);}
               .p1--st8{fill:url(#SVGID_4_);}
            </style>
            <g>
               <linearGradient id="SVGID_1_" x1="1248.3403" x2="1382.7142" y1="331.9894" y2="181.9372" gradientUnits="userSpaceOnUse">
                  <stop offset="0" style="stop-color:#4230c1"></stop>
                  <stop offset="1" style="stop-color:#0a1d58;stop-opacity:0"></stop>
               </linearGradient>
               <path d="M1251.9,334c0-82,66.6-148.5,148.6-148.4c13.1,0,25.8,1.7,37.9,4.9v-13.8c-12.2-2.9-25-4.5-38.1-4.5
				c-89.4,0-161.8,72.6-161.8,162h13.4C1251.9,334.1,1251.9,334.1,1251.9,334z" class="p1--st0"></path>
            <circle class="p1--st1" cx="1345.5" cy="289.6" r="6.8"></circle>
            <circle class="p1--st1" cx="1247.3" cy="191.3" r="6.8"></circle>
            <circle class="p1--st2" cx="66.1" cy="59.4" r="7"></circle>
            <circle class="p1--st2" cx="167.4" cy="160.7" r="7"></circle>
            <g class="p1--st3">
               <linearGradient id="SVGID_2_" x1="-10.786" x2="291.2141" y1="-281.6806" y2="-283.6806" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.7071 0.7071 0.7071 -0.7071 311.8334 -77.4234)">
                  <stop offset="0" style="stop-color:#4230c1"></stop>
                  <stop offset="1" style="stop-color:#0a1d58;stop-opacity:0"></stop>
               </linearGradient>
               <path d="M333,169.1C298.4,83.7,201.2,42.6,115.8,77.2c-20.7,8.4-39.6,20.9-55.4,36.7l9.8,9.8
					c59.7-59.8,156.6-59.9,216.5-0.1s59.9,156.6,0.1,216.5c-25.1,25.1-58.1,40.7-93.4,44.2V398c91.8-8.3,159.5-89.5,151.2-181.3
					C343.1,200.3,339.2,184.3,333,169.1z" class="p1--st4"></path>
            </g>
            <circle class="p1--st5" cx="65.3" cy="118.8" r="7"></circle>
            <circle class="p1--st5" cx="1244.3" cy="333.8" r="7"></circle>
         </g>
         <circle class="p1--st6" cx="1245.3" cy="333.8" r="7"></circle>
         <linearGradient id="SVGID_3_" x1="-512.5003" x2="260.3988" y1="278.9817" y2="405.4963" gradientUnits="userSpaceOnUse">
            <stop offset="0" style="stop-color:#4230c1"></stop>
            <stop offset="1" style="stop-color:#4230c1;stop-opacity:0"></stop>
         </linearGradient>
         <circle class="p1--st7" cx="13" cy="365" r="205"></circle>
         <linearGradient id="SVGID_4_" x1="1009.2859" x2="1554.2264" y1="-21.1577" y2="68.0428" gradientUnits="userSpaceOnUse">
            <stop offset="0" style="stop-color:#4230c1"></stop>
            <stop offset="1" style="stop-color:#4230c1;stop-opacity:0"></stop>
         </linearGradient>
         <circle class="p1--st8" cx="1444" cy="50" r="205"></circle>
      </svg>
   </span>
   </div>
</div>