<div class="bg-rhombus-1 py-12 mt-20   md:py-22">
   <header class="section-header section-header--centered header-hecto   mb-8 pb-6 px-8   sm:pt-10   md:mb-12 md:pb-0 md:px-0   lg:mb-16">
      <h2 class="section-header__title">Customer success makes sure you’re off to a fast start.</h2>
   </header>
   <div class="feature-summaries feature-summaries--pb-lg feature-summaries--3up space-b-4 mb-4   section   mx-auto">
      <div class="feature-summary">
         <div>
         <div class="feature-summary__header">
            <h4 class="feature-summary__title">Highest Quality Translations</h4>
         </div>
         
         <div class="feature-summary__content">
            <p class="feature-summary__descr">Lilt’s AI works alongside translators, bringing a level of quality that was previously impossible.</p>
         </div>
         </div>
      </div>
      
      <div class="feature-summary">
         <div class="feature-summary__header">
            <h4 class="feature-summary__title">Translations done by domain experts</h4>
         </div>
         
         <div class="feature-summary__content">
            <p class="feature-summary__descr">Our translators have helped some of the greatest companies in the world break into new markets.</p>
         </div>
      </div>
      
      <div class="feature-summary">
         <div class="feature-summary__header">
            <h4 class="feature-summary__title">Enterprise-level security</h4>
         </div>
         
         <div class="feature-summary__content">
            <p class="feature-summary__descr">Your data are always encrypted, and never shared with anyone.</p>
         </div>
      </div>
   </div>
</div>