<div class="bg-rhombus-1 bg-rhombus-1--flat-b   py-12 mt-20   md:py-22">
   <header class="section-header section-header--centered header-hecto   mb-4 pb-6 px-8   sm:pt-10   md:pb-0 md:px-0">
      <h2 class="section-header__title">Knowledge should be universally accessible.</h2>
   </header>
   <div class="section   mx-auto">
      <div class="max-w-md mx-auto text-center">
         <p class="mb-5 text-gamma">And ours is. Whether your company is localizing for the first time or you’re an industry veteran, our free library can help you do your best work.<p>
            
         <div class="btn--icon --black   flex justify-center mb-12">
            <a href="">
               Subtle Call to Action
               <span class="btn--icon__icon svg-icon svg-icon--chevron">
                  <svg fill="#343d59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 12">
                     <polygon class="cls-1" points="4.63 6 0.09 2.11 1.39 0.59 7.7 6 1.39 11.41 0.09 9.89 4.63 6"/>
                  </svg>
               </span>
            </a>
         </div>
      </div>
      
      <div class="resource-cards">
         <!--   Card   -->
         <div class="resource-card">
            <div class="card card--hover">
               <img src="assets/img/shield.svg">
               <div>
                  <h6>Case Study</h6>
                  <h3>Title of Resource Here Allow Break to Second</h3>
                  <p>Read More</p>
               </div>
            </div>
         </div>
         
         <!--   Card   -->
         <div class="resource-card">
            <div class="card card--hover">
               <img src="assets/img/shield.svg">
               <div>
                  <h6>Case Study</h6>
                  <h3>Title of Resource Here Allow Break to Second</h3>
                  <p>Read More</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>