<section class="blog__post--hero   pb-22 pt-12   md:pb-32 md:pt-14   bg-rhombus-2">
   <div class="absolute pin bg-purple-4" style="background-image: linear-gradient(90deg, #3529BE 0%, #2A295C 100%);"></div>
   <div class="absolute bg-center bg-cover bg-no-repeat pin" style="background-image:url(assets/img/blog__post--hero.jpg);opacity:.2">
      
   </div>
   
   <div class="section   mx-auto relative">
      <div class="max-w-sm mx-auto   text-center text-white">
         <span class="block font-primary font-semibold mb-6 text-xs uppercase">Blog</span>
         <h2 class="font-primary leading-tight mb-4 text-deka   md:text-hecto">What Makes for a Great Style Guide</h2>
         
         <div class="text-tiny">
            <div class="flex items-center justify-center mb-2">
               <div class="h-8 w-8">
                  <figure class="img is1by1   rounded-full">
                     <img src="assets/img/author--1.jpg" alt="">
                  </figure>
               </div>
               
               <span class="ml-2">by Alexa Tan</span>
            </div>
            
            <time class="block mb-4">September 30, 2018 at 7:00am</time>
            
            <span class="font-semibold font-primary text-blue-4 text-xs tracking-sm uppercase">5-7 Minute Read</span>

         </div>
            
      </div>
   </div>
</section>