<!DOCTYPE html>
<html>
<head></head>
   <title>{{ site.title }}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="canonical" href="">

   <link rel="stylesheet" href="assets/css/styles.css">
   <link href="https://fonts.googleapis.com/css?family=Archivo:400,600,700|Work+Sans:400,600,700" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

   <body class="bg-snow-1 flex font-secondary leading-normal m-0 p-0 text-base text-grey-5">
      
      <div class="w-full min-h-screen flex flex-col overflow-hidden">

      
         <div class="flex-grow">
            {{ content }}
         </div>
         
         {% include footer.html %}
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="assets/js/scroll.js"></script>

      <script>
         // ---------------------------------------------------------------------------
         // Menu Toggle      
         var hamburger = document.querySelector('.btn--hamburger');
         var hamburger_sm = document.querySelector('.btn--hamburger--sm');
         var nav       = document.querySelector('.main-menu--sm');
         
         hamburger.onclick = function(){
            hamburger.classList.toggle('active');
            hamburger_sm.classList.toggle('active');
            nav.classList.toggle('active');
         };
         
         hamburger_sm.onclick = function(){
            hamburger.classList.toggle('active');
            hamburger_sm.classList.toggle('active');
            nav.classList.toggle('active');
         };
         
         
         
         // ---------------------------------------------------------------------------
      	// Add Shadow to Nav on Scroll
         var scrollPosition = window.scrollY;
         var nav_wrap = document.getElementById('nav');

         window.addEventListener('scroll', function() {
            scrollPosition = window.scrollY;

            if (scrollPosition >= 200) {
               nav_wrap.classList.remove('at-top--true');
               nav_wrap.classList.add('at-top--false');
            } else {
               nav_wrap.classList.remove('at-top--false');
               nav_wrap.classList.add('at-top--true');
            }
         });
         
         /*
         window.addEventListener('wheel', function(e) {
            if (e.deltaY < 0) {
               nav_wrap.classList.remove('scroll-direction--down');
               nav_wrap.classList.add('scroll-direction--up');
            }
            if (e.deltaY > 0) {
               nav_wrap.classList.remove('scroll-direction--up');
               nav_wrap.classList.add('scroll-direction--down');
            }
         });
         */
         $.scrollDetection({
            scrollDown: function() {
               nav_wrap.classList.remove('scroll-direction--up');
               nav_wrap.classList.add('scroll-direction--down');
            },
            scrollUp: function() {
               nav_wrap.classList.remove('scroll-direction--down');
               nav_wrap.classList.add('scroll-direction--up');
            }

         });

      </script>
      
      <!--   Video   -->
      <script src="assets/js/plyr.js"></script>
      <script>
         const player = new Plyr('#plyr');
         
         $('.plyr').on('play', function(event) {
            $(this).addClass('plyr--init-play');
         });
      </script>
      <!-- End Video -->
      
   </body>
</html>