//
// Images
//

//.is10by7 { padding-top: 70% }

.img {
	@apply block relative;
	overflow: hidden;
	
	img {
		@apply absolute block h-full pin w-full;
		object-fit: cover
	}
	
	&.is2by1 { padding-top: 50% }
	&.is3by2 { padding-top: 66.6666% }

	&.is1by1 { padding-top: 100% }
	
	@media (min-width: 48rem) {
		&.md\:is5by2 { padding-top: 40% }
	}
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

@media screen and (min-width: 64rem) {
.full-width {
	width: 64rem;
	left: auto;
	margin-left: -12rem;
	margin-right: -12rem
}
}